@model List<Message>
@{
    var activeUser = ViewData["ActiveUser"] as User;
}
<h1>@activeUser.Name's Feed</h1>
<div class="row">
    @foreach (var message in Model)
    {
        <div class="col-md-3 border border-secondary border-5">
            <p><a href="/users/@message.Author.Id">@message.Author.Username</a> @message.Author.Name</p>
            <p>@message.Content</p>
            <p>@message.CreatedAt.ToShortTimeString() - @message.CreatedAt.ToShortDateString()</p>
        </div>
    }
</div>