@model User
@{
    var activeUser = ViewData["ActiveUser"] as User;
}
<h1>@Model.Name</h1>
<p>
    <a href="/users/@Model.Id/following">Following: @Model.Following.Count()</a> - 
    <a href="/users/@Model.Id/followers">Followers: @Model.Followers.Count()</a>
</p>
@if(Model.LoggedIn == true)
{
    <a href="/users/@Model.Id/messages/new">Create Message</a>
    <a href="/users/@Model.Id/editcheck">Edit or Delete Profile</a>
}
else
{
    if(activeUser != null)
    {
        if (activeUser.Following.Contains(Model))
        {
            <ul class="list-group list-group-horizontal list-unstyled row">
                <li class="list-item col-1">
                    <h5>Following</h5>
                </li>
                <li class="list-item col-2">
                    <form method="post" action="/users/@Model.Id/unfollow">
                        <button class="bg-danger" type="submit">Unfollow</button>
                    </form>
                </li>
            </ul>
        }
        else
        {
            <form method="post" action="/users/@Model.Id/follow">
                <button class="bg-success" type="submit">Follow</button>
            </form>
        }
    }
}

<h3>Messages:</h3>
<div class="row">
@foreach(var message in Model.Messages)
{
    <div class="col-md-3 border border-secondary border-5">
        <p>@message.Content</p>
        <p>@message.CreatedAt.ToShortTimeString() - @message.CreatedAt.ToShortDateString()</p>
        @if (Model.LoggedIn)
        {
            <a href="/users/@Model.Id/messages/@message.Id/edit">Edit or Delete</a>
        }
    </div>
}
</div>